{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>HDPS | Heart Disease Prediction System</title>

    <meta name="keywords" content="Heart Disease Prediction System" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href="http://allfont.net/allfont.css?fonts=montserrat-hairline" rel="stylesheet" type="text/css" />
     <link href="http://allfont.net/allfont.css?fonts=montserrat-light" rel="stylesheet" type="text/css" />
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,300,500,600,700,900,800%7CRoboto:400,300,500,700,900%7COswald:400,700,300%7CMontserrat' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i|Playfair+Display:400,400i,700,700i,900,900i" rel='stylesheet' type='text/css'>

    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    

</head>

<body class="login">

 <div class="container-fluid ">
  <div class="box">
          <div class="col-sm-12 h-text">Heart Disease Prediction System</div>
  </div>
 </div>




 <div class="container-fluid box-login">
     <div class="row">

         <div class="col-sm-6 c-1"><img class="h-img" src="{% static 'img/heart1.gif' %}" alt="">
             
         </div>
         <div class="col-sm-6 c-2">

              <form>
    <div class="form-group">
      <input type="email" class="form-control fmg" id="email" placeholder="Username">
    </div>
    <div class="form-group">
      <input type="password" class="form-control fmg" id="pwd" placeholder="Password">
    </div>
    <button type="button" class="btn addBtn" onclick="location.href='{% url 'hdps:prediction' %}'">Login</button>
  </form>
  <div class="row signup">
  <div class="col-sm-6">New User? Register here</div>
  <div class="col-sm-6 text-right">Forgot password?</div>
  </div>

             
         </div>
     </div>
 </div>
</body>

</html>


